<a href="https://colab.research.google.com/github/Risuo/Euler/blob/master/Euler_149.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
t = {}

for k in range(1,56):
  a = ((100003 - 200003*k + 300007*k**3)%1000000)-500000
  t[k] = a

for k in range(56,4000001):
  t1 = k-24
  t2 = k-55
  a = ((t[t1] + t[t2] + 1000000)%1000000)-500000
  t[k] = a

print(t[10], t[100])
print(max(t))

-393027 86613
4000000

In [0]:
arr = []
for a in range(1,4000001):
  arr.append(t[a])

In [0]:
print(arr[0],arr[9],arr[99])
print(len(arr))
print(arr[3999999])

-299993 -393027 86613
4000000
442141

In [0]:
arr2 = []
st = []

count = 0


for cell in arr:
  #if cell == 0:
  #  print('got a zero')
  st.append(cell)
  count += 1
  if count == 2000:
    arr2.append(st)
    st = []
    count = 0

got a zero
got a zero
got a zero
got a zero

In [0]:
print(arr2[0][9],": 10th cell") # 10th cell
print(arr2[0][99],": 100th cell")# 100th cell
print("The below 4 are the 4 corners of the table:")
print(arr2[0][0],arr2[0][1999]) # first cell (top left) and 2000th cell (top right)
print(arr2[1999][0],arr2[1999][1999])# 3998001th cell (bottom left) and 4000000th cell (bottom right)

-393027 : 10th cell
86613 : 100th cell
The below 4 are the 4 corners of the table:
-299993 33039
319933 442141

In [0]:
def rowMax(table):
  cSumMax = 0
  for a in table:
    if sum(a) >= cSumMax:
      cSumMax = sum(a)
      print(cSumMax,a)
  return cSumMax

print(rowMax(arr2))

In [0]:
test = [[-2,5,3,2],
        [9,-6,5,1],
        [3,2,7,3],
        [-1,8,-4,8]]

def sumColumns(table):
  column = -1
  length = len(table[0])
  rSumMax = 0
  currentCol = []
  for a in range(length): #first row
    rSum = 0
    tempCol = []
    for b in table:
      rSum += b[a]
      tempCol.append(b[a])
    if rSum >= rSumMax:
      rSumMax = rSum
      currentCol = tempCol
      #print(rSumMax,a,tempCol)
  return rSumMax,currentCol

In [0]:
def sumPos(row):
  tot = 0
  count = 0
  for a in row:
    if a > 0:
      tot += a
      count += 1
  return tot

def sumNeg(row):
  tot = 0
  count = 0
  for a in row:
    if a < 0:
      tot -= a
      count += 1
  return -tot

In [0]:
#CELL = [][#]   ROW = [#][]
#CELL = [][#]   ROW = [#][]
#CELL = [][#]   ROW = [#][]

#     0    1    2    3    4
# 0 [0,0][0,1][0,2][0,3][0,4]
# 1 [1,0][1,1][1,2][1,3][1,4]
# 2 [2,0][2,1][2,2][2,3][2,4]
# 3 [3,0][3,1][3,2][3,3][3,4]

test = [[-2, 5, 3, 2, 9,-6, 5, 1],
        [ 9,-6, 5, 1, 3, 2, 7, 3],
        [ 3, 2, 7, 3,-1, 8,-4, 8],
        [-1, 8,-4, 8,-2, 5, 3, 2],
        [-1, 8,-4, 8,-2, 5, 3, 2],
        [ 3, 2, 7, 3,-1, 8,-4, 8],
        [-2, 5, 3, 2, 9,-6, 5, 1],
        [ 3, 2, 7, 3,-1, 8,-4, 8],]

# The max is the diagonal 8+7+1, the cells: [3][1], [2][2], [1][3]

In [0]:
def colCreate(table): #This creates a table of all the columns reset as rows
  length = len(table[0])
  colTable = []
  for a in range(length): #first row
    tempCol = []
    for b in table:
      #if b[a] != 0:
      tempCol.append(b[a])
    colTable.append(tempCol)
  return colTable

In [0]:
def obliqueACreate(table): #This creates a table of all the / rows
    # rowVar will cycle downwards by 1, the colVar will cycle upwards by 1 (oblique in the North-Easterly line, / ) example: [3,1], [2,2], [1,3] = 8, 7, 1
  length = len(table[0])
  obATable = []
  for a in range(length): # this selects the row, and by extension, the start of our oblique line
    tempArr = []
    rowVar = a
    colVar = 0
    for b in range(rowVar+1):
      while rowVar >= 0:
        tempArr.append(table[rowVar][colVar])
        rowVar -= 1
        colVar += 1
    obATable.append(tempArr) # the above produces the first half of the /, starting at each cell within the first column
  for a in range(1,length):  # the below produces the second half of the /, starting at the second cell within the last row
    rowVar = length-1
    colVar = a
    tempArr = []
    while colVar < length:
      tempArr.append(table[rowVar][colVar])
      rowVar -= 1
      colVar += 1
    obATable.append(tempArr)
  return obATable

In [0]:
def obliqueBCreate(table):
  length = len(table[0])
  obBTable = []
  for a in range(length-1,-1,-1):
    #print(a)
    #print(table[0][a]) This correctly runs from the last entry within row 0, through to the first entry, i.e., [0][length-1], [0][length-2], ... [0][0]
    tempArr = []
    rowVar = 0
    colVar = a
    var = length-colVar
    for b in range(var):
      tempArr.append(table[rowVar][colVar])
      rowVar += 1
      colVar += 1
    obBTable.append(tempArr)
  for a in range(1,length):
    tempArr = []
    rowVar = a
    colVar = 0
    var = length-rowVar
    for b in range(var):
      tempArr.append(table[rowVar][colVar])
      rowVar += 1
      colVar += 1
    obBTable.append(tempArr)
  return obBTable

In [0]:
test2 = [[-2, 5, 3, 2],
         [ 9,0, 5, 1],
         [ 3, 2, 7, 3],
         [-1, 8,-4, 8]]


base = test2
print(base)
a = colCreate(test2)
print(a)
b = obliqueACreate(test2)
print(b)
c = obliqueBCreate(test2)
print(c)
print(test2)

[[-2, 5, 3, 2], [9, 0, 5, 1], [3, 2, 7, 3], [-1, 8, -4, 8]]
[[-2, 9, 3, -1], [5, 0, 2, 8], [3, 5, 7, -4], [2, 1, 3, 8]]
[[-2], [9, 5], [3, 0, 3], [-1, 2, 5, 2], [8, 7, 1], [-4, 3], [8]]
[[2], [3, 1], [5, 5, 3], [-2, 0, 7, 8], [9, 2, -4], [3, 8], [-1]]
[[-2, 5, 3, 2], [9, 0, 5, 1], [3, 2, 7, 3], [-1, 8, -4, 8]]

In [0]:
def combine(table):
  rows = table
  #print(table,"1")
  cols = colCreate(table)
  #print(table,"2")
  obA  = obliqueACreate(table)
  #print(table,"3")
  obB  = obliqueBCreate(table)
  #print(table,"4")
  
  #print(len(rows),len(cols),len(obA),len(obB))
  
  totalA = []
  for d in rows:
    totalA.append(d)
  for a in rows:
    b = a[::-1]
    totalA.append(b)
  
  for a in cols:
    totalA.append(a)
  for b in cols:
    c = b[::-1]
    totalA.append(c)

  for b in obA:
    totalA.append(b)
  for c in obA:
    d = c[::-1]
    totalA.append(d)
  
  for c in obB:
    totalA.append(c)
  for d in obB:
    e = d[::-1]
    totalA.append(e)

  totalB = []
  
  for row in totalA:
    rowB = []
    for cell in row:
      if cell != 0:
        rowB.append(cell)
      else:
        continue
    totalB.append(rowB)

  return totalB

In [0]:
test2 = [[-2, 5, 3, 2],
         [ 9,0, 5, 1],
         [ 3, 2, 7, 3],
         [-1, 8,-4, 8]]

aCount = -1
base = test2
for row in base:
  aCount += 1
  print(row,aCount)
a = colCreate(test2)
for row in a:
  aCount += 1
  print(row,aCount)
b = obliqueACreate(test2)
for row in b:
  aCount += 1
  print(row,aCount)
c = obliqueBCreate(test2)
for row in c:
  aCount += 1
  print(row,aCount)
print("And now the combine/reverse test")
d = combine(test2)
count = -1
for row in d:
  count += 1
  print(row,count)

In [0]:
def combineLikeTerms(table):
  # 0 = negative
  # 1 = positive
  #print("Expanded Table:",table)
  reducedTable = []
  for row in table:
    reducedRow = []
    length = len(row)
    if row[0] < 0:
      signA = -1
    else:
      signA = 1
    currentSum = 0
    for cell in range(length):
      #print("current cell:",row[cell],"currentSign:",signA,"currentSum:",currentSum)
      if row[cell] <= 0:
        signB = -1
      else:
        signB = 1
      #print("sign of current cell:",signB)
      #print("signA:",signA,"signB:",signB,"row[cell]",row[cell])
      if signA == signB:
        #print("signA == signB")
        #print("currentSum:",currentSum,"is to be added to row[cell]",row[cell])
        currentSum += row[cell]
        signA = signB
        #print("currentSum is now:",currentSum)
        if cell == length-1:
          reducedRow.append(currentSum)
      else:
        reducedRow.append(currentSum)
        currentSum = row[cell]
        if cell == length-1:
          reducedRow.append(currentSum)
        #print("signA:",signA,"signB:",signB,"This is within the else loop")
        signA = signB
    reducedTable.append(reducedRow)
  return reducedTable

In [0]:
test2 = [[-2, 5, 3, 2],
         [ 9,-6, 5, 1],
         [ 3, 2, 7, 3],
         [1, -8,4, -8]]
# There needs to be a primary sum (first collection), and a secondary sum (second collection) and when the secondary sum is > the primary sum, the secondary sum becomes the primary sum, and repeat.
# The break point is , in the example below, [0][3], which is > the primary sum (first collection, [0][0]:[0][2]) and needs to establish a new start to the primary sum, namely [0][3]
test3 = [[ 27,-29,-3,80],
         [ 9,-6, 5, 1],
         [ 3, 2, 7, 3],
         [-1, 8,-4, 8]]

def rowMax(row):
  pass

A = (combineLikeTerms(test2))
B = (combineLikeTerms(test3))

In [0]:
arr2 = []
st = []

count = 0


for cell in arr:
  if cell == 0:
    print('got a zero')
  st.append(cell)
  count += 1
  if count == 2000:
    arr2.append(st)
    st = []
    count = 0

got a zero
got a zero
got a zero
got a zero

In [0]:
arr3 = combine(arr2)
print(len(arr3))
arrSim1 = combineLikeTerms(arr3)
print(len(arrSim1))

23996
23996

In [0]:
print(len(arr2[0]))
print(len(arrSim1[0]))
print(arr2[4])
print(arrSim1[4])

In [0]:
def rowMax(table):
  fullMax = 0
  #table = combineLikeTerms(table)
  #print(table)
  count = -1
  for row in table:
    count += 1
    #print(row)
    length = len(row)
    if row[0] < 0:
      indexA1 = 1
      current = 2
    else:
      indexA1 = 0
      current = 1
    tempSum = sum(row[indexA1:indexA1+current])
    #print(tempSum)
    for cell in range(length-1):
      if tempSum >= 0:
        tempSum = sum(row[indexA1:indexA1+current])
        current += 1
        #if indexA1 + current < length:
          #print(tempSum, "indexA1:",row[indexA1],"current:",row[indexA1+current])
        if tempSum > fullMax:
          fullMax = tempSum
          #print(fullMax,count)
      else:
        indexA1 = current-1
        tempSum = row[indexA1]
        #print('tempSumhere:',tempSum)
        
  return fullMax
      
test2 = [[-2, 5, 3, 2],
         [ 9,-6, 5, 1],
         [ 3, 2, 7, 3],
         [1, 8,4, -8]]

test1 = [[7048, -5950, 464704, -21400525, 737675, -121145, 329092, -309554, 76518, -430526, 10000000000],[87666, -578075, 192148, -151673, 789222, -309792, 1511155588888, -325755, 457048, -678180, 616888]]
rowMax(test1)

1511156240086

In [0]:
rowMax(arrSim1)

52852124